*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
@font-face{
    font-family: fortnite;
    src: url(./fortnite.otf);
}
body {
    background-color: blue;
    font-family: fortnite;
    width: 100vw;
    height: 100vh;
}

header {
    height: 7vh;
    background-color:white;
    border-bottom: #25282c 3px solid;
}

main{
    height: 85vh;
}
.Logo {
    display: inline-block;
    margin: 5px 0 0 30px;
}

.Logo img{
    height: 40px;
}

.nav{
    display: inline-block;
    list-style: none;
    position: absolute;
    right: 0;
}
.nav li{
    display: inline-block;
    list-style: none;
    margin-right: 3rem;
    font-size: 40px;
    margin-top: 3px;
}
.nav li a{
    color: black;
    text-decoration: none;
}
.nav li a:hover{
    color: red;
}
.nav li a:active{
    color: #25282c;
}

.objetos{
    width: 10%;
    min-width: 150px;
    height: 100%;
    background-color: midnightblue;
    display: inline-block;
    padding: 0;
    border-radius: 8px;
}
.objetos__img{
    margin: 0em;
}
.objetos__img img{
    height: 120px;
    margin: 1.5em;
    background-color: aqua;
    border-radius: 10px;
    display: block;
    margin-right: 5px;
    position: relative;
    right: 8px;
}

.map figure{
    text-align: center;
    width: 95%;
    
}
.map img{
    height: 600px;
    text-align: center;
    position: relative;
    bottom:20px ;
}

.map{
    width: 90%;
    height: 80vh;
    display: inline-block;
    position: absolute;
}
footer {
    width: 100vw;
    height: 8vh;
    border-top: #25282c 3px solid ;
    background-color: aqua;
}
.div{
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}
.div a{
    color: black;
}
